In [1]:
#import the packages
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
import pyspark.sql.functions as func

In [2]:
#Creating the SparkSession
spark = SparkSession.builder.appName("FirstApp").getOrCreate()

In [3]:
#Defining schema for your dataframe
myschema = StructType([\
                      StructField("userID", IntegerType(), True),
                      StructField("name", StringType(), True),
                      StructField("age", IntegerType(), True),
                      StructField("friends", IntegerType(), True)
                      ])

In [4]:
#Creating DataFrame on a CSV file
people = spark.read.format("csv")\
        .schema(myschema)\
        .option("path","fakefriends.csv")\
        .load()

In [5]:
#Performing all the transformations
output = people.select(people.userID,people.name\
                      ,people.age,people.friends)\
        .where(people.age<30).withColumn('insert_ts',func.current_timestamp())\
        .orderBy(people.userID)

In [6]:
#Taking the count of the output transformation
output.count()

112

In [9]:
#Creating a Temp View
output.createOrReplaceTempView("people")

In [10]:
#Running a simple spark query
spark.sql("select name, age, friends, insert_ts from people").show()

+--------+---+-------+--------------------+
|    name|age|friends|           insert_ts|
+--------+---+-------+--------------------+
|Jean-Luc| 26|      2|2023-07-29 12:05:...|
|    Hugh| 27|    181|2023-07-29 12:05:...|
|  Weyoun| 22|    323|2023-07-29 12:05:...|
|   Miles| 19|    268|2023-07-29 12:05:...|
|  Julian| 25|      1|2023-07-29 12:05:...|
|     Ben| 21|    445|2023-07-29 12:05:...|
|  Julian| 22|    100|2023-07-29 12:05:...|
|     Nog| 26|    281|2023-07-29 12:05:...|
| Beverly| 27|    305|2023-07-29 12:05:...|
|    Morn| 25|     96|2023-07-29 12:05:...|
|   Brunt| 24|     49|2023-07-29 12:05:...|
|     Nog| 20|      1|2023-07-29 12:05:...|
| Beverly| 19|    269|2023-07-29 12:05:...|
|   Brunt| 19|      5|2023-07-29 12:05:...|
|  Geordi| 20|    100|2023-07-29 12:05:...|
|  Geordi| 21|    477|2023-07-29 12:05:...|
|  Kasidy| 22|    179|2023-07-29 12:05:...|
|   Brunt| 20|    384|2023-07-29 12:05:...|
|     Ben| 28|    311|2023-07-29 12:05:...|
|    Worf| 24|    492|2023-07-29 12:05:...|
+--------+---+-------+--------------------+
only showing top 20 rows