In [12]:
from pyspark.sql import SparkSession
import pyspark.sql.functions as func

In [2]:
spark = SparkSession.\
builder.\
appName("sparksql").\
getOrCreate()

In [3]:
print(spark.version)

3.3.1

In [4]:
data = spark.read.format('csv').\
option('inferschema','true').\
option('header','true').\
option('path','operations_management.csv').\
load()

In [14]:
data_2 = data.select("industry","value").\
filter((func.col("value")>200) & (func.col("industry") != "total")).\
orderBy(func.desc("value"))

In [15]:
data_2.printSchema()

root
 |-- industry: string (nullable = true)
 |-- value: integer (nullable = true)

In [16]:
data_2.show(5)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
+--------------------+-----+
only showing top 5 rows

In [18]:
data_2.createOrReplaceTempView("data")

In [19]:
spark.sql("""SELECT industry, value 
FROM data
WHERE value > 200
AND industry != "total"
""").show(5)

+--------------------+-----+
|            industry|value|
+--------------------+-----+
|        Construction| 6030|
|        Construction| 5904|
|        Construction| 5229|
|Accommodation & f...| 5058|
|        Construction| 4965|
+--------------------+-----+
only showing top 5 rows